## Import of functions
importFrom(methods, new, slot)
importFrom(graphics, plot)

## Import of packages

## Export of classes
exportClasses(
	piled_curves
)

## Export of methods
exportMethods(
	pile,
	plot
)

## Export of regular function names
