## Import of functions
importFrom(methods, new, slot)
importFrom(graphics, plot, lines, polygon)
importFrom(stats, terms, sd, aggregate, as.formula)

## Export of classes
exportClasses(
	piled_curves
)

## Export of methods
exportMethods(
	pile,
	plot,
	summary_stats
)

## Export of regular function names
export(
	eval_model,
	read_apsim,
	read_sunscan
)
